.container {
  width: 1352px;
  margin: 0 auto;
}

@media (max-width: 792px) {
  .benefits {
    width: 100vw;
    background-color: #F7F7F7;
    padding: 1px 0;
  }

  .benefits__content {
    width: 314px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .single-benefit {
    width: 314px;
    height: 370px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    border-radius: 5px;
    margin: 42px 15px;
    flex-direction: column;
  }

  .benefits__first {
    display: flex;
    flex-direction: column-reverse;
  }

  .benefits__first-text {
    width: 272px;
    height: 188px;
    margin: 26px 21px;
  }

  .benefits__first-title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: #000000;
    margin-bottom: 56px;
  }

  .benefits__first-description {
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
  }

  .benefits__first-macbook {
    margin: 0 auto;
    position: relative;
    z-index: 1;
  }

  .benefits__first-macbook-img {
    height: 109px;
    width: 192.76px;
    margin-top: 37px;
  }

  .benefits__first-square {
    width: 87px;
    height: 95px;
    background-color: #FB3B64;
    position: absolute;
    display: block;
    border-radius: 41px;
    right: -2px;
    top: 17px;
    z-index: -1;
    transform: rotate(45deg);
  }
}
@media (min-width: 792px) {
  .benefits {
    width: 100vw;
    background-color: #F7F7F7;
    padding: 106px 0;
  }
}
@media (min-width: 792px) and (max-width: 792px) {
  .benefits {
    padding: 50px 0;
  }
}
@media (min-width: 792px) {
  .benefits__content {
    width: 1124px;
    margin: 0 auto;
    height: 1184px;
  }
}
@media (min-width: 792px) {
  .benefits__first {
    width: 100%;
    height: 370px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    border-radius: 5px;
  }
}
@media (min-width: 792px) {
  .benefits__first-text {
    width: 382px;
    height: 188px;
    margin: 91px 35px;
  }
}
@media (min-width: 792px) {
  .benefits__first-title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    color: var(--color-black);
    margin-bottom: 30px;
  }
}
@media (min-width: 792px) {
  .benefits__first-text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: #FB3B64;
    margin-top: 50px;
    display: block;
  }
}
@media (min-width: 792px) {
  .benefits__first-description {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: var(--color-black);
    line-height: 22px;
  }
}
@media (min-width: 792px) {
  .benefits__first-macbook {
    width: 386.44px;
    height: 219px;
    margin: 113px 118px 38px 0;
    position: relative;
    z-index: 1;
  }
}
@media (min-width: 792px) {
  .benefits__first-macbook-img {
    height: 219px;
    width: 386.44px;
  }
}
@media (min-width: 792px) {
  .benefits__first-text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: #FB3B64;
    margin-top: 50px;
    display: block;
  }
}
@media (min-width: 792px) {
  .benefits__first-square {
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    position: absolute;
    display: block;
    border-radius: 41px;
    right: -6px;
    top: -34px;
    z-index: -1;
    transform: rotate(45deg);
  }
}
@media (max-width: 792px) {
  .benefits__second {
    display: flex;
    flex-direction: column-reverse;
  }

  .benefits__second {
    display: flex;
    flex-direction: column-reverse;
  }

  .benefits__second-text {
    width: 272px;
    height: 188px;
    margin: 26px 21px;
  }

  .benefits__second-title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: #000000;
    margin-bottom: 44px;
    width: 205px;
  }

  .benefits__second-description {
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
  }

  .benefits__second-iphone {
    margin: -13px auto;
    position: relative;
    z-index: 1;
  }

  .benefits__second-iphone-img {
    width: 175px;
    height: 134.99px;
    margin-top: 37px;
    margin-left: 38px;
  }

  .benefits__second-circle {
    width: 131.88px;
    height: 131.7px;
    background-color: #08A6E4;
    position: absolute;
    display: block;
    border-radius: 50%;
    right: 44px;
    top: 27px;
    z-index: -1;
  }
}
@media (min-width: 792px) {
  .benefits__second {
    width: 100%;
    height: 370px;
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-between;
    margin-top: 37px;
    flex-direction: row-reverse;
    border-radius: 5px;
  }

  .benefits__second-title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    color: #000000;
    margin-bottom: 30px;
    width: 246px;
  }

  .benefits__second-text {
    width: 416px;
    height: 188px;
    margin: 91px 20px;
  }

  .benefits__second-text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: #FB3B64;
    margin-top: 50px;
    display: block;
  }

  .benefits__second-description {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000000;
    width: 416px;
    line-height: 22px;
  }

  .benefits__second-iphone {
    width: 426px;
    height: 328px;
    margin: 29px 0 13px 70px;
    position: relative;
    z-index: 1;
  }

  .benefits__second-iphone-img {
    height: 328px;
    width: 426px;
  }

  .benefits__second-text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: #08A6E4;
    margin-top: 50px;
    display: block;
  }

  .benefits__second-circle {
    width: 320px;
    height: 320px;
    background-color: #08A6E4;
    position: absolute;
    display: block;
    border-radius: 50%;
    right: 103px;
    top: -19px;
    z-index: -1;
  }
}
@media (max-width: 792px) {
  .benefits__third {
    display: flex;
    flex-direction: column;
    margin-bottom: 96px;
  }

  .benefits__third-text {
    width: 272px;
    height: 188px;
    margin: 26px 21px;
  }

  .benefits__third-title {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    color: #000000;
    margin-bottom: 29px;
    width: 264px;
  }

  .benefits__third-description {
    font-size: 14px;
    color: #000000;
    font-family: "Open Sans", sans-serif;
    width: 237px;
  }

  .benefits__third-trumpet {
    width: 100%;
    height: 195px;
    background-color: #55DFB4;
    border-radius: 5px;
  }

  .benefits__third-trumpet-img {
    margin: -13px auto;
    position: relative;
    z-index: 1;
    width: 295px;
    height: 207px;
    left: -25px;
    bottom: -30px;
  }
}
@media (min-width: 792px) {
  .benefits__third {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
  }

  .benefits__third-text {
    width: 554px;
    height: 202px;
    /* margin: 91px 35px; */
    background-color: #FFFFFF;
    padding: 70px 34px 98px 35px;
    border-radius: 5px;
  }

  .benefits__third-title {
    font-family: "Raleway", sans-serif;
    font-size: 36px;
    color: var(--color-black);
    margin-bottom: 30px;
    width: 348px;
    height: 75px;
  }

  .benefits__third-text::after {
    content: "";
    width: 328px;
    height: 4px;
    background-color: #FB3B64;
    margin-top: 46px;
    display: block;
  }

  .benefits__third-description {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: #000000;
    line-height: 22px;
  }

  .benefits__third-trumpet {
    width: 440px;
    height: 370px;
    position: relative;
    z-index: 1;
    background-color: #55DFB4;
    border-radius: 5px;
  }

  .benefits__third-trumpet-img {
    height: 208px;
    width: 295px;
    position: relative;
    left: 80px;
    bottom: -97px;
  }

  .benefits__third-square {
    width: 180px;
    height: 180px;
    background-color: #FB3B64;
    position: absolute;
    display: block;
    border-radius: 41px;
    right: -6px;
    top: -34px;
    z-index: -1;
    transform: rotate(45deg);
  }
}
@media (max-width: 792px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 323px;
    margin: 0 auto;
  }

  .contact__column-title {
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 47px;
    margin-bottom: 22px;
    color: #000000;
  }

  .contact__instruction {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 42px;
  }

  .contact__details {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
  }

  .details__item-mail {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    position: relative;
    left: 9px;
    margin-bottom: 16px;
  }

  .details__item-tel {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: 0;
    position: relative;
    left: 8px;
  }

  .details__item-mail::before {
    content: "";
    height: 27px;
    width: 27px;
    display: inline-block;
    background-image: url("../../assets/Mail Icon.svg");
    position: relative;
    left: -10px;
    bottom: -9px;
  }

  .details__item-tel::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url("../../assets/Phone Icon.svg");
    position: relative;
    left: -10px;
    bottom: -8px;
  }

  .form {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 157px;
  }

  .name {
    margin-bottom: 45px;
  }

  .form__field {
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
  }

  .form__label {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #08A6E4;
    font-weight: 700;
  }

  /*-------*/
  .form__input {
    line-height: 23px;
    border: 0;
    margin-bottom: 9px;
  }

  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  .checkbox {
    cursor: pointer;
    display: flex;
    margin-top: 31px;
  }

  .form__checkbox-icon {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .form__checkbox-text {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #A5A5A5;
    width: 277px;
    height: 156px;
  }

  .checkbox input:checked + span {
    background-image: url("../../assets/Checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contact__btn {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #08A6E4;
    padding: 20px 98px;
    position: relative;
    right: -89px;
    bottom: -21px;
    border: 0;
    border-radius: 35px;
  }
}
@media (min-width: 792px) {
  .contact {
    margin: 155px auto 59px auto;
    height: 376px;
    width: 896px;
    display: flex;
    justify-content: center;
  }

  .contact__column {
    width: 50%;
  }

  .contact__column-title {
    font-family: "Raleway", sans-serif;
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 22px;
    color: var(--color-black);
  }

  .contact__instruction {
    font-family: var(--font-spen-sans);
    font-size: 16px;
    font-weight: #000000;
    margin-bottom: 42px;
  }

  .details__item-mail {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    position: relative;
    left: 9px;
  }

  .details__item-tel {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: calc(57px - 27px);
    position: relative;
    left: 8px;
  }

  .details__item-mail::before {
    content: "";
    height: 27px;
    width: 27px;
    display: inline-block;
    background-image: url("../../assets/Mail Icon.svg");
    position: relative;
    left: -10px;
    bottom: -9px;
  }

  .details__item-tel::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url("../../assets/Phone Icon.svg");
    position: relative;
    left: -10px;
    bottom: -8px;
  }

  /*-----------FORM-----------*/
  .form {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 157px;
  }

  .name {
    margin-bottom: 45px;
  }

  .form__field {
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
  }

  .form__label {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #08A6E4;
    font-weight: 700;
  }

  /*-------*/
  .form__input {
    line-height: 23px;
    border: 0;
    margin-bottom: 9px;
  }

  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  .checkbox {
    cursor: pointer;
    display: flex;
    margin-top: 34px;
  }

  .form__checkbox-icon {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .form__checkbox-text {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #A5A5A5;
  }

  .checkbox input:checked + span {
    background-image: url("../../assets/Checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contact__btn {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #08A6E4;
    padding: 20px 97px;
    position: relative;
    right: -223px;
    bottom: -20px;
    border: 0;
    border-radius: 35px;
  }
}
.footer {
  width: 100vw;
  height: 89px;
  background-color: #F7F7F7;
  box-shadow: 0 -5px 40px rgba(0, 0, 0, 0.16);
}

.footer__content {
  width: 1352px;
  height: 100%;
  margin: 59px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: 3px;
}

.footer__twitter {
  margin-left: 20px;
}

/*-----*/
.footer__logo {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3px;
}

.footer__logo-header {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  color: #08A6E4;
  margin-bottom: 7px;
}

.footer__logo-copy {
  font-family: "Open Sans", sans-serif;
  font-size: 11px;
  color: #A5A5A5;
}

.footer__social-media {
  position: relative;
  top: 1px;
}

.open {
  overflow: hidden;
}

.open__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}
@media (max-width: 792px) {
  .open__content {
    margin-top: 100px;
  }
}

.open__header {
  font-family: "Raleway";
  font-size: 49px;
  margin-bottom: 20px;
}

.open__text {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 38px;
}
@media (max-width: 792px) {
  .open__text {
    padding: 0 70px;
    text-align: center;
  }
}

.open__btn {
  border-radius: 30px;
  background-color: #08A6E4;
  padding: 22px 157px;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  color: #FFFFFF;
  box-shadow: 0 0 22px 10px rgba(8, 166, 228, 0.16);
}
@media (max-width: 792px) {
  .open__btn {
    margin: 0 15px;
    padding: 26px 95px;
  }
}

.background-img {
  width: 100%;
  height: auto;
}
@media (max-width: 792px) {
  .background-img {
    width: 220%;
    transform: translateX(-28%);
  }
}

@media (max-width: 792px) {
  .pricing {
    margin: 0 auto;
  }

  .pricing__limited {
    margin-bottom: 41px;
    font-family: "Raleway", sans-serif;
    color: #13253b;
    font-size: 12px;
    font-weight: 700;
  }

  .pricing__title {
    text-align: center;
    margin-top: 53px;
    margin-bottom: 21px;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 36px;
    font-weight: 400;
  }

  .pricing__content {
    display: flex;
    flex-direction: column;
  }

  .pricing__box {
    width: 293px;
    height: 251px;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    display: flex;
    align-items: center;
    margin: 0 auto 53px auto;
    position: relative;
  }

  .pricing__content-title {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #13253b;
    margin: 18px 0 14px 0;
  }

  .pricing__type-price {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 45px;
  }

  .pricing__price {
    font-family: "Open Sans", sans-serif;
    font-size: 46px;
    font-weight: 300;
    color: #FB3B64;
  }

  .pricing__item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 41px;
  }

  .pricing__items {
    margin-bottom: 59px;
    text-align: left;
    margin-left: 35px;
    height: 175px;
  }

  .pricing__btn {
    border-radius: 23px;
    background-color: #FB3B64;
    padding: 17px 56px;
    position: absolute;
    align-content: center;
    bottom: -24px;
    left: 25%;
    text-decoration: none;
    color: #FFFFFF;
  }

  .pricing__item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../assets/Ckechmark-1.svg");
  }

  .pricing__item-not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../assets/Close.svg");
  }

  .pricing__box-professional {
    width: 339px;
    height: 277px;
    border: 1px solid #08A6E4;
    box-shadow: 0 0 46px -23px #08A6E4;
    border-radius: 18px;
    display: flex;
    align-items: center;
    position: relative;
  }

  .pricing__btn-professional {
    background-color: #08A6E4;
  }

  .pricing__price-professional {
    color: #08A6E4;
  }

  .pricing__items-professional {
    margin-bottom: 32px;
    text-align: left;
    height: 175px;
    margin-left: 0;
  }

  .type-professional {
    margin: 3px 23px 21px 28px;
  }

  .pricing__limited-professional {
    font-family: "Raleway", sans-serif;
    color: #13253b;
    font-size: 12px;
    font-weight: 700;
    margin: 9px 0 0 5px;
  }

  .pricing__box-premium {
    border: 1px solid #55DFB4;
  }

  .pricing__price-premium {
    margin-bottom: 3px;
  }

  .type-premium {
    margin: 26px 0 26px 28px;
  }

  .pricing__btn-premium {
    background-color: #55DFB4;
  }

  .pricing__price-premium {
    color: #55DFB4;
  }
}
@media (min-width: 792px) {
  .pricing {
    width: 1266px;
    margin: 100px auto;
  }

  .pricing__limited {
    margin-bottom: 41px;
    font-family: "Raleway", sans-serif;
    color: #13253b;
    font-size: 12px;
    font-weight: 700;
  }

  .pricing__title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 71px;
    font-family: "Raleway", sans-serif;
    color: #000000;
    font-size: 36px;
    font-weight: 400;
  }

  .pricing__content {
    display: flex;
    justify-content: space-between;
  }

  /*-------BASIC---------*/
  .pricing__box {
    width: 372px;
    height: 461px;
    border: 1px solid #FB3B64;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .pricing__content-title {
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #13253b;
    margin: 34px 0 14px 0;
  }

  .pricing__price {
    font-family: "Open Sans", sans-serif;
    font-size: 46px;
    font-weight: 300;
    color: #FB3B64;
    margin-bottom: 69px;
  }

  .pricing__item {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 41px;
  }

  .pricing__items {
    margin-bottom: 55px;
    text-align: center;
  }

  .pricing__btn {
    text-align: center;
    border-radius: 23px;
    background-color: #FB3B64;
    padding: 17px 56px;
    position: absolute;
    align-content: center;
    bottom: -24px;
    text-decoration: none;
    color: #FFFFFF;
  }

  .pricing__item::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../assets/Ckechmark-1.svg");
  }

  .pricing__item-not::before {
    content: "";
    width: 11px;
    height: 11px;
    display: inline-block;
    margin-right: 10px;
    background-image: url("../../assets/Close.svg");
  }

  /*------PROFESSIONAL--------*/
  .pricing__content-title-professional {
    font-size: 21px;
    margin-bottom: 14px;
  }

  .pricing__price-professional {
    color: var(--color-primary);
    margin-bottom: 22px;
  }

  .pricing__limited-professional {
    margin-bottom: 52px;
  }

  .pricing__box-professional {
    width: 405px;
    height: 500px;
    border: 1px solid #08A6E4;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 18px;
    box-shadow: 0 0 46px -23px #08A6E4;
  }

  .pricing__btn-professional {
    text-align: center;
    border-radius: 23px;
    background-color: #08A6E4;
    padding: 17px 64px;
    position: absolute;
    align-content: center;
    bottom: -24px;
    text-decoration: none;
    color: #FFFFFF;
  }

  /*--------PREMIUM-----------*/
  .pricing__price-premium {
    color: #55DFB4;
    margin-bottom: 17px;
  }

  .pricing__btn-premium {
    background-color: #55DFB4;
  }

  .pricing__box-premium {
    border: 1px solid #55DFB4;
  }
}
.statistic {
  margin-bottom: 121px;
}
@media (max-width: 792px) {
  .statistic {
    margin-bottom: 12px;
  }
}

.statistic__header {
  font-size: 36px;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 100px;
  color: #000000;
}
@media (max-width: 792px) {
  .statistic__header {
    text-align: center;
    margin-top: 55px;
  }
}

.statistic__content {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media (max-width: 792px) {
  .statistic__content {
    flex-direction: column;
    margin-top: -4px;
  }
}

.statistic__icon__margin {
  margin: 35px 116px;
}

.statistic__header__small {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 5.96px;
  margin-top: 14.18px;
}

/*-------------------------------*/
.statistic__text__person {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  color: #A5A5A5;
  margin-top: 19.11px;
  position: relative;
  left: -6px;
}

.statistic__text__eye {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  color: #A5A5A5;
  margin-top: 19.11px;
  width: 120px;
  text-align: center;
  position: relative;
  left: -3px;
}

.statistic__text__catalog {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  color: #A5A5A5;
  margin-top: 19.11px;
  width: 131px;
  text-align: center;
}

/*-------------------------*/
.statistic__person {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic__person__img {
  position: relative;
  left: 14px;
}

.statistic__eye {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic__eye__img {
  position: relative;
  left: 14px;
}

.statistic__catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic__catalog__img {
  position: relative;
  left: 21px;
}

/*---------------------------*/
.statistic__circle__red {
  border-radius: 50%;
  background-color: #FB3B64;
  width: 63px;
  height: 63px;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 22px;
  top: -5px;
}
@media (max-width: 792px) {
  .statistic__circle__red {
    left: 33px;
  }
}

.statistic__circle__blue {
  border-radius: 50%;
  background-color: #08A6E4;
  width: 63px;
  height: 63px;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 31px;
  top: -13px;
}

.statistic__circle__green {
  border-radius: 50%;
  background-color: #55DFB4;
  width: 63px;
  height: 63px;
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: 30px;
  top: -7px;
}
@media (max-width: 792px) {
  .statistic__circle__green {
    left: 40px;
  }
}

@media (max-width: 792px) {
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 323px;
    margin: 0 auto;
  }

  .contact__column-title {
    font-family: "Raleway", sans-serif;
    font-size: 44px;
    font-weight: 400;
    line-height: 47px;
    margin-bottom: 22px;
    color: #000000;
  }

  .contact__instruction {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-bottom: 42px;
  }

  .contact__details {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
  }

  .details__item-mail {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    position: relative;
    left: 9px;
    margin-bottom: 16px;
  }

  .details__item-tel {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: 0;
    position: relative;
    left: 8px;
  }

  .details__item-mail::before {
    content: "";
    height: 27px;
    width: 27px;
    display: inline-block;
    background-image: url("../../assets/Mail Icon.svg");
    position: relative;
    left: -10px;
    bottom: -9px;
  }

  .details__item-tel::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url("../../assets/Phone Icon.svg");
    position: relative;
    left: -10px;
    bottom: -8px;
  }

  .form {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 157px;
  }

  .name {
    margin-bottom: 45px;
  }

  .form__field {
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
  }

  .form__label {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #08A6E4;
    font-weight: 700;
  }

  /*-------*/
  .form__input {
    line-height: 23px;
    border: 0;
    margin-bottom: 9px;
  }

  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  .checkbox {
    cursor: pointer;
    display: flex;
    margin-top: 31px;
  }

  .form__checkbox-icon {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .form__checkbox-text {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #A5A5A5;
    width: 277px;
    height: 156px;
  }

  .checkbox input:checked + span {
    background-image: url("../../assets/Checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contact__btn {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #08A6E4;
    padding: 20px 98px;
    position: relative;
    right: -89px;
    bottom: -21px;
    border: 0;
    border-radius: 35px;
  }
}
@media (min-width: 792px) {
  .contact {
    margin: 155px auto 59px auto;
    height: 376px;
    width: 896px;
    display: flex;
    justify-content: center;
  }

  .contact__column {
    width: 50%;
  }

  .contact__column-title {
    font-family: "Raleway", sans-serif;
    font-size: 49px;
    font-weight: 400;
    margin-bottom: 22px;
    color: var(--color-black);
  }

  .contact__instruction {
    font-family: var(--font-spen-sans);
    font-size: 16px;
    font-weight: #000000;
    margin-bottom: 42px;
  }

  .details__item-mail {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    position: relative;
    left: 9px;
  }

  .details__item-tel {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-left: calc(57px - 27px);
    position: relative;
    left: 8px;
  }

  .details__item-mail::before {
    content: "";
    height: 27px;
    width: 27px;
    display: inline-block;
    background-image: url("../../assets/Mail Icon.svg");
    position: relative;
    left: -10px;
    bottom: -9px;
  }

  .details__item-tel::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url("../../assets/Phone Icon.svg");
    position: relative;
    left: -10px;
    bottom: -8px;
  }

  /*-----------FORM-----------*/
  .form {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 157px;
  }

  .name {
    margin-bottom: 45px;
  }

  .form__field {
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000000;
  }

  .form__label {
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    color: #08A6E4;
    font-weight: 700;
  }

  /*-------*/
  .form__input {
    line-height: 23px;
    border: 0;
    margin-bottom: 9px;
  }

  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  .checkbox {
    cursor: pointer;
    display: flex;
    margin-top: 34px;
  }

  .form__checkbox-icon {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid #A5A5A5;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .form__checkbox-text {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #A5A5A5;
  }

  .checkbox input:checked + span {
    background-image: url("../../assets/Checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contact__btn {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #08A6E4;
    padding: 20px 97px;
    position: relative;
    right: -223px;
    bottom: -20px;
    border: 0;
    border-radius: 35px;
  }
}
.header {
  width: 100vw;
  height: 70px;
  display: flex;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.header .menu__btn {
  display: none;
  position: absolute;
  top: -9999;
  left: -9999;
  opacity: 0;
}
.header .menu__toggle {
  display: none;
}
.header .menu__toggle span {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #08A6E4;
  transition: 0.3s all ease-in-out;
}
.header .menu__toggle span:last-child {
  margin-bottom: 0;
}
@media (max-width: 792px) {
  .header .menu__toggle {
    display: block;
  }
}

.container {
  width: 1352px;
  margin: 0 auto;
}
@media (max-width: 792px) {
  .container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

/*.logo {*/
/*    color: var(--color-primary);*/
/*}*/
.logo__link {
  color: #08A6E4;
  text-decoration: none;
  font-size: 32px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  outline: 0;
}

.header_nav {
  display: flex;
}
@media (max-width: 792px) {
  .header_nav {
    position: absolute;
    left: 0;
    top: 95px;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding-bottom: 20px;
    display: none;
  }
  .header_nav .nav-element {
    padding: 0;
  }
  .header_nav .nav__link {
    display: block;
    padding: 14px 20px;
  }
}

.nav-element {
  margin-left: 95px;
  font-size: 11px;
  color: #F7F7F7;
}

a:active, a:hover {
  outline: none;
}

.nav__link {
  text-decoration: none;
  color: #A5A5A5;
  font-family: "Open Sans", sans-serif;
  outline: none;
  font-weight: 700;
  border-bottom: 4px solid transparent;
  padding: 28px 17px 24px;
}

.nav__link:hover {
  border-color: #08A6E4;
  color: #000000;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
/*# sourceMappingURL=main.css.map */
