:root {
    /*--------COLORS---------*/
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
   /* -------Fonts--------*/
    --font-realway:'Raleway', sans-serif; /*Raleway [300, 400, 700, 800]*/
    --font-spen-sans:'Open Sans', sans-serif; /*Open Sans [300, 400, 700]*/
    /*-------Font-weight*/
    --font-size-small: 300;
    --font-size-nowmal: 400;
    --font-size-bold: 700;
    --font-size-big-bold: 800;
    /*######################*/
    /*------PAGE-SIZE______*/
    --contetn-size: 1352px;
    --100-percent: 100vw;
    /*--------------------------------*/
    /*standardowe zaokrąglenia odstępy itp.*/
    /*---------------------------------*/
    --border-box: border-box;
}

body {

    /*box-sizing: border-box;*/
}

/*------HEADER-------*/
.header {
    width: var(--100-percent);
    height: 70px;
    display: flex;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16)
}

.container {
    width: var(--contetn-size);
    margin: 0 auto;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

/*.logo {*/
/*    color: var(--color-primary);*/
/*}*/

.logo__link {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 32px;
    font-family:var(--font-realway);
    font-weight: var(--font-size-small);
    outline: 0;
}

.header_nav {
    display: flex;
}

.nav-element {
    margin-left: 95px;
    font-size: 11px;
    color: var(--color-light-grey);

}

a:active, a:hover {
    outline: none;
}

.nav__link {
    text-decoration: none;
    color: var(--color-grey);
    font-family: var(--font-spen-sans);
    outline: none;
    font-weight: var(--font-size-bold);
    border-bottom: 4px solid transparent;
    padding: 28px 17px 24px;
}

.nav__link:hover {
    border-color: var(--color-primary);
    color: var(--color-black);
}

/*-------------------------*/
/*-----OPEN SECTION-------*/
/*------------------------*/

.open {

}

.open__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}

.open__header {
    font-family: 'Raleway';
    font-size: 49px;
    margin-bottom: 20px;
}

.open__text {
    font-family: var(--font-spen-sans);
    margin-bottom: 38px;
}

.open__btn {
    border-radius: 30px;
    background-color: var(--color-primary);
    padding: 22px 157px;
    text-decoration: none;
    font-family: var(--font-spen-sans);
    color: var(--color-white);
}




