
  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 72px 0px 55px 0;
    }
  }

  @include desktop {
    .contact__column {
      padding: 0 57px;
    }
  }

  .contact__column-title {
    width: 100%;
    font-family: $font-realway;
    font-size: 42px;
    font-weight: $font-size-normal;
    line-height: 47px;
    margin-bottom: 22px;
    color: $color-black;
  }

  .contact__instruction {
    font-family: $font-open-sans;
    font-size: 16px;
    margin-bottom: 42px;
  }
  .contact__details {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;
    @include desktop {
      flex-direction: row;
      margin-bottom: 297px;
    }
  }

  .details__item-mail {
    text-decoration: none;
    color: $color-grey;
    font-family: $font-open-sans;
    font-size: 16px;
    position: relative;
    left: 9px;
    margin-bottom: 16px;
    width: 100%;
    max-width: 187px;
  }

  .details__item-tel {
    text-decoration: none;
    color: $color-grey;
    font-family: $font-open-sans;
    font-size: 16px;
    margin-left: 0;
    position: relative;
    left: 8px;
    width: 100%;
    max-width: 139px;
    @include desktop {
      margin-left: 22px;
    }
  }

  .details__item-mail::before {
    content: "";
    height: 27px;
    width: 27px;
    display: inline-block;
    background-image: url("../../assets/Mail Icon.svg");
    position: relative;
    left: -10px;
    bottom: -9px;
  }

  .details__item-tel::before {
    content: "";
    display: inline-block;
    width: 27px;
    height: 27px;
    background-image: url("../../assets/Phone Icon.svg");
    position: relative;
    left: -10px;
    bottom: -8px;
  }
  //------------FORM-------------
  .form {
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 157px;
  }

  .name {
    margin-bottom: 45px;
  }

  .form__field {
    height: 57px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $color-black;
  }

  .form__label {
    margin-bottom: 10px;
    font-family: $font-open-sans;
    font-size: 11px;
    color: $color-primary;
    font-weight: $font-size-bold;
  }

  /*-------*/
  .form__input {
    line-height: 23px;
    border: 0;
    margin-bottom: 9px;
  }

  .checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 0;
    height: 0;
  }

  .checkbox {
    cursor: pointer;
    display: flex;
    margin-top: 31px;
  }

  .form__checkbox-icon {
    height: 24px;
    width: 24px;
    flex-shrink: 0;
    flex-basis: 24px;
    border: 1px solid $color-grey;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }

  .form__checkbox-text {
    font-family: $font-open-sans;
    font-size: 12px;
    line-height: 17px;
    color: $color-grey;
    width: 100%;
    max-width: 277px;
    height: 156px;
  }

  .checkbox input:checked + span {
    background-image: url("../../assets/Checkmark.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .contact__btn {
    font-family: $font-open-sans;
    font-size: 13px;
    color: $color-white;
    background-color: $color-primary;
    padding: 20px 98px;
    position: relative;
    right: -23px;
    bottom: -21px;
    border: 0;
    border-radius: 35px;
    margin-bottom: 66px;
    @include desktop {
      right: -89px;
    }
  }
