.nav-element {
  margin-left: 95px;
  font-size: 11px;
  color: var(--color-light-grey);
}

.nav__link {
  text-decoration: none;
  color: var(--color-grey);
  font-family: var(--font-spen-sans);
  outline: none;
  font-weight: var(--font-size-bold);
  border-bottom: 4px solid transparent;
  padding: 28px 17px 24px;
}

.nav__link:hover {
  border-color: var(--color-primary);
  color: var(--color-black);
}