@import "../settings/colors";

.open {

}

.open__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 130px;
}

.open__header {
  font-family: 'Raleway';
  font-size: 49px;
  margin-bottom: 20px;
}

.open__text {
  font-family: var(--font-spen-sans);
  margin-bottom: 38px;
}

.open__btn {
  border-radius: 30px;
  background-color: $color-primary;
  padding: 22px 157px;
  text-decoration: none;
  font-family: var(--font-spen-sans);
  color: var(--color-white);
  box-shadow: 0 0 22px 10px rgba(8, 166, 228, 0.16);
}

.background-img {
  width: 100%;
  height: auto;
}