
.open {
  overflow: hidden;
}

.open__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
}

.open__header {
  font-family: 'Raleway';
  font-size: 49px;
  margin-bottom: 20px;
}

.open__text {
  font-family: $font-open-sans;
  margin-bottom: 38px;
  padding: 0 70px;
  text-align: center;

}

.open__btn {
  border-radius: 30px;
  background-color: $color-primary;
  text-decoration: none;
  font-family: $font-open-sans;
  color: $color-white;
  box-shadow: 0 0 22px 10px rgba(8, 166, 228, 0.16);
  margin: 0 15px;
  padding: 26px 95px;
}

.background-img {
  height: auto;
  width: 220%;
  transform: translateX(-28%);
  @include desktop {
    transform: unset;
    width: 100%;
  }
}
