.header__container {
  width: $percent-100;
  height: 70px;
  background-color: $color-white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;


  .logo__link {
    color: $color-primary;
    font-size: 32px;
    font-family: $font-realway;
    margin-left: 25px;
    @include desktop {
      margin-left: 135px;
    }
  }

  a {
    text-decoration: none;
  }

  //############################

  .header__navigation {
    display: none;
  }

  .menu__toggle {
    display: flex;
    flex-direction: column;
    margin-right: 28px;
    position: absolute;
    right: 0;


    span {
      display: block;
      width: 20px;
      height: 2px;
      margin: 3px;
      background-color: $color-primary;
      @include desktop {
        display: none;
      }
    }
  }

  .menu__btn {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked {
      ~ .header__navigation {
        display: block;
      }

      ~ .menu__toggle span {
        position: absolute;
        left: -25px;
        top: -3px;

        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          display: none;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }

    }
  }

  .header__navigation {
    //display: none;
    list-style: none;
    width: 100vw;
    height: 176px;
    position: absolute;
    top: 70px;
    left: 0;
    background: $color-white;
    z-index: 1;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16) inset;
    @include desktop {
      display: unset;
      width: unset;
      height: unset;
      position: unset;
      background: unset;
      box-shadow: unset;
    }
  }
}

.header_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 32px 24px;
  @include desktop {
    flex-direction: row;
    margin: 0px 88px;
  }

  .nav-element {
    margin-bottom: 14px;
    font-family: $font-open-sans;
    font-weight: $font-size-bold;
    @include desktop {
      margin: 0 57px;
      padding: 27px 15px;
      font-size: 11px;
      border-bottom: 4px solid transparent;
      &:hover {
        border-color: $color-primary;
      }
    }

    a {
      &:hover, &:checked {
        color: black;
      }

      color: $color-grey;
      text-decoration: none;
    }
  }
}

